<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type = "text/css" href="../public/test.css">
    <title>Тестовое задание Infotecs</title>
</head>
<body>
    <table class="table">
        <tr class="table__row">
            <th class="table__column">Имя</th>
            <th class="table__column">Фамилия</th>
            <th class="table__column">Описание</th>
            <th class="table__column">Цвет глаз</th>
        </tr>
        {row}
    </table>
    
</body>
<script src="../user.json"></script>
<script src="../js/test.js"></script>
</html>